<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Time Handmaster Jundiaí</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/images/logo.jpg" alt="">
                <span class="title">Time Master de Handebol Jundiaí</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Team">Time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Sponsors">Patrocinadores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Games">Jogos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://web.whatsapp.com/send?phone=5511992659475&text=Bom%20dia%20tenho%20interesse%20nas%20camisetas%20do%20time%2E&source&data&app_absent">Loja Virtual</a>
                        </li>
                    </ul>
                </div>
            </div>  
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-info container">
            <a href="https://www.linkedin.com/company/orbit-wolf/">&copy;2020 - OrbitWolf</a>  
                <div class="contact-icons">
                    <a href="https://www.facebook.com/pg/Handebol-Master-Jundia%C3%AD-2027197000743156/posts/" class="fab fa-facebook-square"></a>
                    <a href="https://www.instagram.com/timemasterjundiai/" class="fab fa-instagram-square"></a>
                    <a href="https://www.linkedin.com/in/time-master-handebol-jundia%C3%AD-3a89a8195/" class="fab fa-linkedin"></a>
                    <a href="https://www.youtube.com/channel/UCuiqbSLp8MsDbuFqYBprm0Q" class="fab fa-youtube-square"></a>
                </div>
        </div>
    </footer>

    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" type="text/css" /> 
    <script src="https://kit.fontawesome.com/971b6f73c3.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
 

    @RenderSection("Scripts", required: false)
</body>
</html>
