h1 {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

.contact-icons{
  font-size: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fa-facebook-square {
  color: #4267b2;
}

.fa-instagram-square {
  color: #d6249f;
}

.fa-linkedin {
  color: #0073b0;
}

.fa-youtube-square{
  color: #ff0000;
}