.index-carousel-container {
  position: absolute;
  width: 100%;
  left: 0%;
  max-height: 20% !important;
}

.carousel-control-next .carousel-control-prev {
  color: black;
}

.carousel-inner img { 
  height: 400px;
  object-fit: contain;
}
