h1 {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

.main-teams h1 {
  text-align: left;
  margin-top: 2%;
  font-size: 140%;
 
}

.main-teams {
  height: auto;
  display: flex;
  max-height: 40%;
  align-content: space-around;
  flex-direction: column;
}

.team-30-female-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-30-female{
  display: flex;
  max-height: 20%;
}

.card {
  max-width:80%;
  max-height: 80%;
  margin: 1% 1% 1% 1%;
  padding: 2px 2px 2px 2px;
}

.card-text {
  text-align: center;
}

.card-body {
  padding: 1% 1% 1% 1%;
}