h1 {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

.main-teams h1 {
  text-align: left;
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 140%;
  
}

.main-teams {
  height: auto;
  display: flex;
  max-height: 40%;
  align-content: space-around;
}

.team-30-female-cards {
  display: flex;
}

.card {
  max-width:60%;
  max-height: 60%;
  margin: 1% 1% 1% 1%;
  padding: 2px 2px 2px 2px;
}

.card-text {
  text-align: center;
}

.card-body {
  padding: 1% 1% 1% 1%;
  font-size: 0.8rem;
}