@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre o time";
}

<link href="~/css/about.css" rel="stylesheet" type="text/css" />

<div class="main-about container-fluid">
    <h1>@ViewData["Title"]</h1>
    <div class="about-the-team">
    <b>O que é o Time Handebol Master de Jundiaí ?</b><br/>

    O Time Handebol Master de Jundiaí é um grupo atualmente de 60 cidadãos de Jundiaí e região sendo em sua grande maioria composta de ex-atletas profissionais e amadores que tem um objetivo comum praticar este fascinante e apaixonante esporte melhorando suas condições de saúde física e mental e levando o nome da cidade de Jundiaí novamente entre os grandes do esporte nacional nesta modalidade.
    A nossa equipe hoje tem o apoio da Prefeitura de Jundiaí acompanhado e supervisionado pela Diretora de Esportes Rita de Cássia Orsi.
    </div>
    <div class="about-mission">
    <b>Missão</b><br/>

    Através do Handebol melhorar a qualidade de vida e bem estar dos praticantes e consequentemente de seus familiares e servir de referência e exemplo junto as novas gerações de atletas em desenvolvimento e contribuir para o desenvolvimento da cidade como referência na pratica do esporte.
    </div>
    <div class="about-values">
    <b>Valores</b><br/>

    • Respeito as regras do esporte, pessoas e parceiros comercias<br/>

    • Ser referência de atitude e ações esportivas junto a cidade de Jundiaí<br/>

    • Qualidade de vida, saúde e bem estar<br/>

    • Trabalho em equipe para superar os desafios da vida<br/>

    • Amizade, Alegria e Diversão<br/>
    </div>
</div>
