@page
@model ContactModel
@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<link href="~/css/contacts.css" rel="stylesheet" type="text/css" /> 
<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" type="text/css" /> 
<script src="https://kit.fontawesome.com/971b6f73c3.js" crossorigin="anonymous"></script>

<div class="contact-text">
    TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT <br/>
    TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT <br/>
    TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT <br/>
    TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT TEMPLATE TEXT <br/>
</div>

<div class="contact-icons">
    <a href="https://www.facebook.com/pg/Handebol-Master-Jundia%C3%AD-2027197000743156/posts/" class="fab fa-facebook-square"></a>
    <a href="https://www.instagram.com/timemasterjundiai/" class="fab fa-instagram-square"></a>
    <a href="https://www.linkedin.com/in/time-master-handebol-jundia%C3%AD-3a89a8195/" class="fab fa-linkedin"></a>
    <a href="https://www.youtube.com/channel/UCuiqbSLp8MsDbuFqYBprm0Q" class="fab fa-youtube-square"></a>
</div>