@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/css/index.css" rel="stylesheet" type="text/css" />
<script src="~/js/Index.js"></script>

<div class="index-info">
  
</div>