@page
@model StoreModel
@{
    ViewData["Title"] = "Store";
}


<link href="~/css/store.css" rel="stylesheet" type="text/css" />

<a href="https://web.whatsapp.com/send?phone=5511992659475&text&source&data&app_absent">Contato via WhatsApp</h1>