@page
@model TeamModel
@{
    ViewData["Title"] = "Time";
}


<link href="~/css/team.css" rel="stylesheet" type="text/css" />

<h1>@ViewData["Title"]</h1>

<div class="main-teams">
    <div class="team-30-female">
    <h1>+30 Feminino</h1>
        <div class="team-30-female-cards">
            <div class="card">
                <img class="card-img-top" src="" alt="">
            <div class="card-body">
                <p class="card-text"><br></p>
            </div>
        </div>
    </div>
    <div class="team-35-male">
    <h1>+35 Masculino</h1>
        <div class="team-35-male-cards">
            <div class="card">
                <img class="card-img-top" src="" alt="">
            <div class="card-body">
                <p class="card-text"><br></p>
            </div>
        </div>
    </div>
    <div class="team-42-male">
    <h1>+42 Masculino</h1>
        <div class="team-42-male-cards">
            <div class="card">
                <img class="card-img-top" src="" alt="">
            <div class="card-body">
                <p class="card-text"><br></p>
            </div>
        </div>
    </div>
</div>